#!/usr/bin/env bash
# shellcheck disable=SC2155

REPO_ROOT="$(git rev-parse --show-toplevel)"
export PATH="$REPO_ROOT/.gitlab/ci/scripts:$PATH"

# Simulate GitLab CI environment as much as possible.
export CI_PROJECT_URL=$(git remote get-url origin)
# https://stackoverflow.com/a/50126161
export CI_PROJECT_PATH="$(grep -Po '\w\K/\w+[^?]+' <<< "$CI_PROJECT_URL")"
# https://gist.github.com/oneohthree/f528c7ae1e701ad990e6#gistcomment-2862791
CI_PROJECT_PATH_SLUG_TMP="$(echo "$CI_PROJECT_PATH" | iconv -t ascii//TRANSLIT | sed -r s/[~\^]+//g | sed -r s/[^a-zA-Z0-9]+/-/g | sed -r s/^-+\|-+$//g | tr A-Z a-z)"
export CI_PROJECT_PATH_SLUG=${CI_PROJECT_PATH_SLUG_TMP:-"gitpodify-gitpodified-wworkspace-images"}
# Tip: If you really need to simulate some scripts in an GitLab MR context,
# touch .emulate-gitlab-mergerequest-pipelines in the root directory of this repo.
if [[ -f "${REPO_ROOT:-"$PWD"}/.emulate-gitlab-mergerequest-pipelines" ]]; then
  export CI_PIPELINE_SOURCE="merge_request_event"
fi